In [1]:
import pandas as pd

#Read data from csv and hold it in our data frame
df = pd.read_csv('/Users/sledro/Desktop/LondonCrime/Datasets with access/Cleaned.csv', parse_dates=['Month'])

In [2]:
#Print whats in our data frame (First5 Results)
df.head()

,Unnamed: 0,Month,Longitude,Latitude,Location,Crime type,Last outcome category
0,0,2014-06-01,-0.113767,51.517372,On or near Stone Buildings,Vehicle crime,Investigation complete; no suspect identified
1,1,2014-06-01,-0.111497,51.518226,On or near Pedestrian Subway,Violence and sexual offences,Unable to prosecute suspect
2,8,2014-06-01,-0.098572,51.516767,On or near King Edward Street,Bicycle theft,Investigation complete; no suspect identified
3,9,2014-06-01,-0.097562,51.518864,On or near Parking Area,Bicycle theft,Investigation complete; no suspect identified
4,10,2014-06-01,-0.097601,51.520699,On or near Carthusian Street,Other theft,Investigation complete; no suspect identified

In [3]:
#Group our data by the number of each type of crimes commit each month
groupedCrimes= df.set_index('Month', drop=False).groupby(pd.Grouper(level='Month', freq='M'))['Crime type'].value_counts().unstack()

In [4]:
#Print whats in our groupedCrimes frame (First5 Results)
groupedCrimes.head()

Crime type,Bicycle theft,Burglary,Criminal damage and arson,Drugs,Other crime,Other theft,Possession of weapons,Public order,Robbery,Shoplifting,Theft from the person,Vehicle crime,Violence and sexual offences
Month,,,,,,,,,,,,,
2014-06-30,1611,5359,4961,3407,530,9681,302,2953,1840,3467,2322,6658,14714
2014-07-31,1930,5690,4988,3215,653,9890,264,3443,1685,3345,2213,6621,15467
2014-08-31,1803,5899,4779,3183,633,9205,318,2981,1740,3317,2371,6292,14007
2014-09-30,1806,5772,4876,2826,672,9308,296,3548,1747,3288,2256,6762,14676
2014-10-31,1786,6490,5268,3256,677,9579,302,3498,1946,3630,2500,7324,15253

In [5]:
type(groupedCrimes)

pandas.core.frame.DataFrame

In [6]:
#I change the dates to be integers, I am not sure this is the best way    
groupedCrimes.index = pd.to_datetime(groupedCrimes.index)  
groupedCrimes.index = (groupedCrimes.index - pd.to_datetime('1970-01-01')).days

In [8]:
import numpy as np
#Define our x and y and reshape if needed
from sklearn.cross_validation import train_test_split
y = np.asarray(groupedCrimes)
#print(y.shape)
#print(y)
X = np.asarray(groupedCrimes.index).reshape(-1, 1)
#print(X.shape)
#print(X)
#Setup our training data
X_train, X_test, y_train, y_test = train_test_split(X,y,train_size=.9,random_state=42)

In [82]:
from sklearn.linear_model import LinearRegression

model = LinearRegression() #create linear regression object
model.fit(X_train.reshape(-1,1), y_train) #train model on train data
model.score(X_train, y_train) #check score

0.38722493157302623

In [92]:
import datetime

today = datetime.datetime(int(2017),int(3),int(31))

predictMonthEnding = (today - pd.to_datetime('1970-01-01')).days
ans = model.predict(predictMonthEnding) #Date to predict - converting datetime's to # of days since 1970-01-01
pt=pd.to_datetime(predictMonthEnding, unit='D') #Convert to human date to display on table
df = pd.DataFrame(ans[:,:], index=ans[:,0], columns=['Bicycle theft','Burglary', 'Criminal damage and arson','Drugs','Other crime', 'Other theft','Possession of weapons','Public order', 'Robbery','Shoplifting','Theft from the person', 'Vehicle crime','Violence and sexual offences'])
df.insert(0, "Predicted Date", pt) #Add new index 
df = df.set_index('Predicted Date') 
df

,Bicycle theft,Burglary,Criminal damage and arson,Drugs,Other crime,Other theft,Possession of weapons,Public order,Robbery,Shoplifting,Theft from the person,Vehicle crime,Violence and sexual offences
Predicted Date,,,,,,,,,,,,,
2017-03-31,1491.48283,5803.730227,5155.783695,2609.826382,871.152277,8745.689855,437.914673,3843.283993,2015.479572,4056.081578,3347.330104,7971.583626,17498.231383

In [93]:
#Get the mean squared error and find the square root of it
#So we have an average of 484 crimes commited from the ground truth
from sklearn.metrics import mean_squared_error

y_predict = model.predict(X_test)

regression_model_mse = mean_squared_error(y_predict, y_test)

regression_model_mse

import math

math.sqrt(regression_model_mse)

483.04175747475864

In [94]:
series=df.idxmax(axis=1)
print(series[0])
series=df.max(axis=1)
print (format(series[0], '.0f'))

Violence and sexual offences
17498